<h1>Student Data</h1>
<marquee>Welcome to My Website Welcome to My Website</marquee>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Science</th>
        <th>English</th>
        <th>total</th>
        <th>per</th>
        <th>Content</th>
    </tr>

    
{% for s in students %}
<tr>
    <td>{{ s.name }}</td>
    <td>{{ s.science }}</td>
    <td>{{ s.english }}</td>
    <td>{{ s.total }}</td>
    <td>{{ s.percentage }}</td>
    <td>{{ s.content|safe }}</td>
</tr>
{% endfor %}
</table>